<?xml version="1.0" encoding="utf-8" ?> 
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <include file="${specialfolder:folder=LocalApplicationData}/phirSOFT/MusicStand/logger.config"/>
  <include file="${specialfolder:folder=ApplicationData}/phirSOFT/MusicStand/logger.config"/>

  <targets>
    <target xsi:type="Debugger" name="debugger"/>
    <target xsi:type="File"
            name="fileLog"
            fileName="${specialfolder:folder=LocalApplicationData}/phirSOFT/MusicStand/log.txt"
            archiveNumbering="Rolling"
            archiveOldFileOnStartup="true"
            maxArchiveFiles="5"/>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="fileLog"/>
    <logger name="*" minlevel="Debug" writeTo="debugger"/>
  </rules>
</nlog>